<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="nopCommerceAutomationSuite"  parallel="false" >
    <test name="RegisterTestSuite">
        <classes>
            <class name="tests.RegisterTests"/>
            <class name="tests.LoginTests"/>
            <class name="tests.AddressTests"></class>
        </classes>
    </test>
</suite>
